html {
    background-color: #FF94C4;
}
body {
    width: 550px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    font-family: arial, sans-serif;
    font-color: #FFFFFF;
    background-color: black;
}
/* text material */
h1 {
    font-family: arial, sans-serif;
}
/ * unvisited link color */
a:link {
    color: #FF7ABF;
}
/* visited link */
a:visited {
    color: #545454;
}
/* hovering over text */
a:hover {
    font-weight: bold;
}
